@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --appPrimary: #e1b964;
  --appSecondary: #0d3b66;
  --appPrimaryLight: #f9edbd;
  --appSecondaryLight: #477cae;
  --appGray: #edecec;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-appPrimary: var(--appPrimary);
  --color-appOnPrimary: var(--foreground);
  --color-appSecondary: var(--appSecondary);
  --color-appPrimaryLight: var(--appPrimaryLight);
  --color-appSecondaryLight: var(--appSecondaryLight);
  --color-appGray: var(--appGray);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-infinite-scroll: infinite-scroll 100s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-in-05s {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

.fade-in-1s {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

.fade-in-2s {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}

.fade-in-3s {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fade-up-05s {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both
}

.fade-up-1s {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.fade-up-2s {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both
}

.fade-up-3s {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both
}

.fade-up-5s {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fade-down-05s {
  opacity: 0;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both
}

.fade-down-1s {
  opacity: 0;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.fade-down-2s {
  opacity: 0;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both
}

.fade-down-3s {
  opacity: 0;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both
}

.fade-down-5s {
  opacity: 0;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

:root {
  --font-size: 2rem;
  --line-height: 1;
  --num-words: 6;
  --animation-duration: 30s;
}

.window {
  display: inline-block;
  overflow: hidden;
  flex-grow: 1;
  vertical-align: bottom;
  height: calc(var(--font-size) * var(--line-height));
}

.window-inner {
  display: inline-block;
  animation: scroll-text var(--animation-duration) ease-in-out infinite;
}

.window span {
  display: block;
}

@keyframes scroll-text {
  0% {
    transform: translateY(0%);
    /* trust */
  }

  12.55% {
    transform: translateY(calc(-12.55%));
    /* loyalty */
  }

  25.10% {
    transform: translateY(calc(-25.10%));
    /* respect */
  }

  37.65% {
    transform: translateY(calc(-37.65%));
    /* value */
  }

  50.20% {
    transform: translateY(calc(-50.20%));
    /* referrals */
  }

  62.75% {
    transform: translateY(calc(-62.75%));
    /* trust (at the end) */
  }

  75.30% {
    transform: translateY(calc(-75.30%));
    /* trust (at the end) */
  }

  87.85% {
    transform: translateY(calc(-87.85%));
    /* trust (at the end) */
  }

  100% {
    transform: translateY(calc(-87.85%));
    /* trust (at the end) */
  }
}

@media screen and (min-width: 601px) {
  .typed-cursor {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .typed-cursor {
    font-size: 30px;
  }
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}