@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --appPrimary: #e1b964;
  --appSecondary: #0d3b66;
  --appPrimaryLight: #f9edbd;
  --appSecondaryLight: #477cae;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-appPrimary: var(--appPrimary);
  --color-appOnPrimary: #171717;
  --color-appSecondary: var(--appSecondary);
  --color-appPrimaryLight: var(--appPrimaryLight);
  --color-appSecondaryLight: var(--appSecondaryLight);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-in-05s {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

.fade-in-1s {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

.fade-in-2s {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}

.fade-in-3s {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fade-up-05s {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both
}

.fade-up-1s {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.fade-up-2s {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both
}

.fade-up-3s {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both
}

.fade-up-5s {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fade-down-05s {
  opacity: 0;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both
}

.fade-down-1s {
  opacity: 0;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.fade-down-2s {
  opacity: 0;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both
}

.fade-down-3s {
  opacity: 0;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both
}

.fade-down-5s {
  opacity: 0;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}